<!-- <form action="/action_page.php">
    Coordinates:<br>
    <input type="text" name="firstname">
    <br>
    Time:<br>
    <input type="text" name="lastname">
    <br><br>
    <input type="submit" value="Submit">
  </form>   -->