<h4>//This is the pothole add route.</h4>
    <div class="jumbotron text-center">
      <h1>POTHOLE-DETECTER</h1>
      <p>Its time to make our journey smooth</p> 
    </div>
      
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <!-- <h3>Column 1</h3> -->
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p> -->
          <!-- <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p> -->
        </div>
        <div class="col-sm-4">
          <!-- <h3>Column 2</h3> -->
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p> -->
          <!-- <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p> -->
        </div>
        <div class="col-sm-4">
          <h3>Enter Details</h3>
          <form action="/action_page.php">
            Coordinates:<br>
            <input type="text" name="firstname">
            <br>
            Time:<br>
            <input type="text" name="lastname">
            <br><br>
            <input type="submit" value="Submit">
          </form>          
          <!-- <p></p> -->
          <!-- <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p> -->
        </div>
      </div>
    </div>