<div class="container my-5">
  <div class="row justify-content-end">
    <div class="col-sm-4 my-5">
      <div class="card card-body">
        <h3 class="text-center mb-3">
          Enter Pothole Details
        </h3>
        <% include ./partials/messages %>
        <form action="/potholes/add" method="POST">
          <div class="form-group">
            <label for="latitude">Latitude</label>
            <input
              type="number"
              id="latitude"
              name="x"
              class="form-control"
              placeholder="Enter Latitude"
              value="<%= typeof x != 'undefined' ? x : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="longitude">Longitude</label>
            <input
              type="number"
              id="longitude"
              name="y"
              class="form-control"
              placeholder="Enter Longitude"
              value="<%= typeof y != 'undefined' ? y : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input
              type="text"
              id="image"
              name="image"
              class="form-control"
              placeholder="Enter Image URL"
              value="<%= typeof image != 'undefined' ? image : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Register
          </button>
        </form>
      </div>
      <!-- <p></p> -->
      <!-- <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p> -->
    </div>
  </div>
</div>
