<h4>//This is the welcome page</h4>
<div class="jumbotron text-center">
  <h1>POTHOLE-DETECTER</h1>
  <p>Its time to make our journey smooth</p>
</div>

<div class="row mt-5">
  <div class="col-md-4 m-auto">
    <div class="card card-body text-center">
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-info btn-block mb-2">Login</a>
    </div>
  </div>
</div>

<div class="row justify-content-around my-5">
  <div class="col-md-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, cumque ipsum
    assumenda placeat earum esse facere iure libero aut nemo dignissimos ea,
    harum perferendis illo id fugiat accusantium ducimus quisquam consectetur?
    Tenetur aliquid numquam aut eaque vero autem velit optio, libero fugiat
    deserunt commodi nihil ducimus tempora odio porro enim mollitia totam,
    expedita sequi. Nam, velit et. Fugit, ipsum at provident repellendus quos
    nisi cumque hic nesciunt. Obcaecati corrupti autem accusantium blanditiis
    facilis? Dignissimos hic, sapiente reiciendis quae veniam facere totam
    expedita magni quis odio. Vitae, eaque sapiente aut fuga excepturi dolorem
    iure porro, atque quis laboriosam, commodi animi assumenda officiis ducimus!
    Veritatis similique sint nihil nostrum dolore fugiat earum dolor assumenda,
    voluptatum quaerat, magni nam quod. Placeat eligendi doloremque at,
    blanditiis ab et corrupti provident. Tenetur dolor libero qui eaque ea odio
    unde hic accusamus perspiciatis enim. Mollitia pariatur, rem a cum ea nisi
    ipsam quidem vero veritatis placeat quos dolorem natus eum sit nesciunt
    minus explicabo accusamus doloribus, nobis illum temporibus, possimus eaque!
    Nobis omnis dolore culpa porro pariatur officia ipsam. Quia ullam, explicabo
    pariatur qui quidem ipsam iusto officia consequuntur reprehenderit animi
    magni velit doloremque cum quo ipsum, nam iste mollitia maxime
    necessitatibus obcaecati, natus facilis odio!
  </div>
  <div class="col-md-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas placeat
    ullam earum nesciunt, saepe quam eius id eaque praesentium nam quidem minus
    temporibus laudantium cum dolorem aliquid accusantium ut molestias provident
    sed est. Alias consequuntur, harum quae aut sapiente fugiat ullam reiciendis
    praesentium quos quo iste ducimus quam, nostrum possimus eius ut.
    Voluptates, ut ipsam id repellendus vel beatae distinctio!
  </div>
</div>
