<h4>//This is the welcome page</h4>
<div class="jumbotron text-center">
  <h1>POTHOLE-DETECTER</h1>
  <p>Its time to make our journey smooth</p>
</div>

<div class="row mt-5">
  <div class="col-md-4 m-auto">
    <div class="card card-body text-center">
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-info btn-block mb-2">Login</a>
    </div>
  </div>
</div>

<div class="row justify-content-around my-5">
  <div class="col-md-4">
    Potholes have been a major problem since we have built roads! Potholes are
    usually caused by the presence of heavy traffic and water on roads. Several
    studies conducted in cities such as Chandigarh and Mumbai point to the lack
    of a proper drainage system and weak proportioning of aggregates for road
    construction as major reasons for pothole formation. There are two common
    causes of potholes: water and traffic. Most potholes form over long periods
    of moisture like in the winter snowstorms or in the early spring. As snow
    and rain seep into the cracks of the pavement, the soil below it causes mud
    and erosion to the support.
  </div>
  <div class="col-md-4">
    With the help of APIs we let our users spread awareness about potholes so
    that potential threats can be worked upon and bifercated as soon as
    possible. We provide a responsive graphical user interface so that each user
    can take the benefits of our service without any hassle. This project is a
    contribution to our society and developers are welcome to help as out since
    we are open sourced. With proper roads we can ensure a safe environment for
    people to travel. 
  </div>
</div>
