<h4>//This is the welcome page</h4>

<div class="row mt-5">
  <div class="col-md-4 m-auto">
    <div class="card card-body text-center">
      <p>Create an account or login</p>
      <a href="/user/register" class="btn btn-primary btn-block mb-2">Register</a>
      <a href="/user/login" class="btn btn-info btn-block mb-2">Login</a>
    </div>
  </div>
</div>